body{
  transition: all 0.5s linear;
  margin: 0px;
}
.header{
  background: #000;
  height: 150px;
  overflow: hidden;
}
.header h1,h2,h3,h4,h5,h6,p,a{
  color: white;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0px;
  color: black;
}
hr{
  margin: 1px;
  border-color: #373737;
}
a{
  text-decoration: none;
  display: block;
}
.header a{
    height: 48px;
    width: 96px;
    background: #212121;
    border-right-width: 2px;
    border-right-color: #585858;
    border-right-style: solid;
    float: left;
    color: white;
    text-align: center;
    line-height: 50px;
}
.icon_description{
  margin-left: 100px;
  width: 250px;
  height: 100px;
  /* overflow: hidden; */

}
.icon_description h1{
  width: 115px;
  float: right;
}
/* .content{
  height: 1000px;
} */
button{
  border-radius: 10px;
  background-color: black;
  border-style: none;
}
.projects{
  margin: 33%;
  margin-top: 186.7px;
  margin-bottom: 186.7px;

}
.projects a{
  color: black;
}
